.user__details__main {
  width: 100%;
  margin: 4rem;
  height: 60%;
}
.new__user__details {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.user_Inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 300px;
}
.user_Inputs_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.user__header h1 {
  border-bottom: 2px solid #a7a7a7;
  margin-bottom: 2rem;
  color: #a7a7a7;
  font-weight: 200;
  width: 100%;
}
.user__header__list h1 {
  margin-bottom: 2rem;
  color: #606060;
  font-weight: 200;
  width: 100%;
}
.user_Inputs_list h1 {
  border-bottom: none;
}
.radio__btns {
  width: 16rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.upload_image {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.img__container {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid #a7a7a7;
  object-fit: contain;
  background-image: url(https://i.ibb.co/c2MHvX5/image-line-2.png);
  background-repeat: no-repeat;
  background-position: center;
  
}
.img__container img {
  width: 100%;
}

.img__url:hover {
  cursor: pointer;
  text-decoration: underline;
}

.buttons__container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.custom_btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
